@using Fmovies.ViewModels
@using Fmovies.Models
@model Fmovies.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}
<script type="text/javascript" src="~/Scripts/MyJqueryFiles/myJquery.js"></script>
<div class="d-flex flex-wrap justify-content-around">
    @if (!Model.movies.Any())
    {
        <p>No movies yet!</p>
    }
    else
    {
        int i = 0;
        bool added = false;
        List<int> movieIds = new List<int>();
        if (ViewBag.movieIds != null)
        {
            movieIds = ViewBag.movieIds;
        }
        foreach (var m in Model.movies)
        {
            <div style="width: 30%" class="p-2">
                <div class="card movieCard">
                    <div class="card-header" style="margin: 0 auto">
                        <img src="@m.URL" style="width: 100%" />
                    </div>
                    <div class="card-title p-2">
                        @{ 
                            string spanid = "btn" + m.movieId;
                        }
                        <div class="clearfix">
                            <span>@m.movieName</span>
                            @{ 
                                if (movieIds != null && movieIds.Contains(m.movieId))
                                {
                                    added = true;
                                }
                                else
                                {
                                    added = false;
                                }
                                CartButtonViewModel cartButtonViewModel = new CartButtonViewModel() {
                                    movieAdded = added,
                                    MovieId = m.movieId,
                                    TotalCartCount = movieIds.Count
                                };
                            }
                        <span id=@spanid>
                            @Html.Partial("~/Views/Movie/_CartButtonPartial.cshtml", cartButtonViewModel)
                        </span>
                        </div>
                        <p>Price: &#8377;@m.moviePrice</p>
                        @{
                            var gname = Model.genres.SingleOrDefault(g => g.genreId.Equals(m.genreId));
                            <p>Genre: @gname.genreName</p>
                        }
                    </div>
                </div>
            </div>
            i++;
        }
    }
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <a href="~/Cart/CartSummary" class="btn btn-success"><span class="fa fa-shopping-cart"></span> Proceed to checkout</a>
    </div>
</div>
