@model Fmovies.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Selected Movies";
}

<h2 class="pt-2"><span class="fa fa-shopping-cart"></span> Your Cart</h2>
<div class="row">
    <div class="col-md-8">
        @Html.Action("MoviesPartial", Model)
        @{
            TempData["movieViewModel"] = Model;
            TempData.Keep("movieViewModel");
        }
    </div>
</div>

